
<!DOCTYPE html>
<html lang="fr">

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>Symfony E-Commerce</title>

        <!-- Bootstrap core CSS -->
        <link href="{{asset('bundles/vitrine/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{asset('bundles/vitrine/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <!-- Custom styles for this template -->
        <!--<link href="{{asset('bundles/vitrine/css/agency.css')}}" rel="stylesheet">-->
        <link href="{{asset('bundles/vitrine/css/agency_glob.css')}}" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">{% block content %}{% endblock %}</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('vitrine_homepage') }}">{% trans %}Accueil{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('catalogue') }}">{% trans %}Catalogue{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('mentions_legales') }}">{% trans %}Mentions Légales{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('contenuPanier') }}">{% trans %}Panier{% endtrans %}</a>
                        </li>
                        {%if app.request.get('_route')  is not null  %}
                            <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{asset('bundles/vitrine/img/en.jpg')}}" width="30px" height="30px"></a></li>
                            <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{asset('bundles/vitrine/img/fr.png')}}" width="30px" height="30px"></a></li>
                                {% endif %}
                    </ul>
                    <ul>
                        {% if is_granted('ROLE_USER') %}

                            <li><a href="{{ path('logout', { 'name': 'Invité' }) }}"><img src="{{asset('bundles/vitrine/img/logout.svg')}}" width="30px" height="30px" title="{% trans %}Se déconnecter{% endtrans %}"></a></li>
                                {% else %}

                            <li> <a href="{{ path('login') }}"><img src="{{asset('bundles/vitrine/img/login.svg')}}" width="30px" height="30px" title="{% trans %}Se connecter{% endtrans %}"></a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% if is_granted('ROLE_ADMIN') %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                <div class="container">

                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav text-uppercase ml-auto">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('client_index') }}">{% trans %}Utilisateurs{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('article_index') }}">{% trans %}Articles{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('categorie_index') }}">{% trans %}Catégories{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('commande_index') }}">{% trans %}Commandes{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% elseif is_granted('ROLE_USER') %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                <div class="container">

                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav text-uppercase ml-auto">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('client_show', { 'id': app.user.id }) }}">{% trans %}Mon Compte{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('client_commandes', { 'id': app.user.id }) }}">{% trans %}Mes Commandes{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}


        <!-- Header -->
        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                </div>
            </div>
        </header>
        <!-- Crud Info-->
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                {% block body %}{% endblock %}

            </div>
        </div>
    </div>

    <!-- Catalogue Grid -->
    <section class="bg-light" id="portfolio">
    {% block catalogue %}{% endblock %}
</section>

{% block footer %}
    {% block panier %}
        {{render(controller('VitrineBundle:Panier:vuePanier'))}}
    {% endblock %}
    {% block plusVendu %}
        {{render(controller('VitrineBundle:Default:plusVendu'))}}
    {% endblock %}
{% endblock %}


</body>

</html>

