{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}Articles{% endblock %}

{% block catalogue %}


    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Articles</h2>
            </div>
        </div>
        <div class="row">

            <table class="table table-striped table-bordered">
                <tr>
                    <th>{% trans %}Libellé{% endtrans %}</th>
                    <th>{% trans %}Prix{% endtrans %}</th>
                    <th>{% trans %}Stock{% endtrans %}</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <th>{% trans %}Quantité{% endtrans %}</th>
                    <th></th>
                </tr>
                {% for art in articles %}
                    <tr>
                        <td>{{ art.libelle }}</td>
                        <td>{{ art.prix }}€</td>
                        <td>{{ art.stock }}</td>
                        <td>{{ art.description }}</td>
                    <form method="post" action="{{ path('ajoutArticle', { 'id': art.id }) }}">
                        <td>
                            <input type="number" name="qte" value="1" min="1" max="{{ art.stock }}">
                        </td>
                        <td>
                            <a> <input type="submit" value="Ajouter" href="{{ path('ajoutArticle', { 'id': art.id }) }}" class="btn btn-info btn-lg" />
                            </a>
                        </td>
                    </form>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}