{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}{% trans %}Catalogue{% endtrans %}{% endblock %}

{% block catalogue %}


    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{% trans %}Catalogue{% endtrans %}</h2>
            </div>
        </div>
        <div class="row">

            {% for cat in categories %}
                <div class="col-md-4 col-sm-6 portfolio-item">

                    <a class="portfolio-link" data-toggle="modal" href="{{ path('articlesParCategorie', { 'id': cat.id }) }}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{asset('bundles/vitrine/img/portfolio/06-thumbnail.jpg')}}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ cat.intitule }}</h4>
                        <p class="text-muted">{% trans %}Découvrez{% endtrans %}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}