{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}{% trans %}Bonjour{% endtrans %}
    {% if app.user is null %}
        Invité
    {% else %}
        {{app.user.nom}}
    {% endif %}!
{% endblock %}