{% block plusVendu %}

    <div class="plusVendu">
        <h3>Meilleurs Ventes de la semaine!</h3>
        <a href="{{ path('article_show', { 'id': 1 }) }}"><img class="img-fluid" src="{{asset('bundles/vitrine/img/LT.jpeg')}}" alt="" style="height: 215px;"></a>
        <a href="{{ path('article_show', { 'id': 5 }) }}"><img class="img-fluid" src="{{asset('bundles/vitrine/img/call-of-duty.jpg')}}" alt=""></a>
        <a href="{{ path('article_show', { 'id': 3 }) }}"><img class="img-fluid" src="{{asset('bundles/vitrine/img/fe.jpg')}}" alt=""   style="width: 215px"></a>
    </div>
{% endblock %}