{% extends "VitrineBundle::layout.html.twig" %}

{% block body %}
    <h1>Categories</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.id }}</a></td>
                    <td>{{ categorie.intitule }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('categorie_show', { 'id': categorie.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorie_new') }}">Create a new categorie</a>
        </li>
    </ul>
{% endblock %}
