{% extends "VitrineBundle::layout.html.twig" %}

{% block body %}
    <h1>Categorie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ categorie.intitule }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('categorie_index') }}"><input type="button" value="{% trans %}Retour{% endtrans %}"></a>
    <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}"><input type="button" value="{% trans %}Edition{% endtrans %}"></a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
