<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Login{% endblock %}</title>

        <!-- Custom styles for this template -->
        <link href="{{asset('bundles/vitrine/css/agency.css')}}" rel="stylesheet">
        <script type="text/javascript" src="{{asset('bundles/vitrine/js/agency.js')}}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{asset('bundles/vitrine/css/agency_glob.css')}}" rel="stylesheet">
    </head>
    <body>
    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
