{# app/Resources/views/Emails/registration.html.twig #}
<p>{% trans %}Voici le contenu de votre commande:{% endtrans %}</p>
<div>
    <ul>
        {% for libelle in articles %}
            <li>{{ libelle }}</li>
            {% endfor %}
    </ul>
    <p>
        {% trans %} Votre commande a bien été enregistrée.{% endtrans %}<br />
        {% trans %} Pour accéder à vos commandes {% endtrans %}<a href="{{ url('commande_index') }}">{% trans %}cliquez ici{% endtrans %}</a>.
    </p>
    <p>{% trans %}Merci d'avoir utilisé notre service !{% endtrans %}</p>
</div>