{% extends "VitrineBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Email :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" /><br />
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" />

                <input type="hidden" name="_target_path" value="{{ path('catalogue') }}" />
                <button type="submit">login</button>
            </form>
            <a href="{{ path('client_new')}}" class="forgot-password">
                Create new account
            </a>
        </div>

    {% endblock %}
