{% extends "VitrineBundle::layout.html.twig" %}

{% block body %}
    <h1>Articles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                    <td>{{ article.libelle }}</td>
                    <td>{{ article.prix }}</td>
                    <td>{{ article.stock }}</td>
                    <td>{{ article.description }}</td>
                    <td>{{ article.image }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_new') }}">Create a new article</a>
        </li>
    </ul>
{% endblock %}
