{% extends "VitrineBundle::layout.html.twig" %}

{% block body %}
    <h1>Nouvel Article</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    <a href="{{ path('article_index') }}"><input type="button" value="{% trans %}Retour{% endtrans %}"></a>
        {{ form_end(form) }}

{% endblock %}
