{% extends "VitrineBundle::layout.html.twig" %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ article.libelle }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ article.stock }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ article.image }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% if is_granted('ROLE_ADMIN') %}{{ path('article_index') }} {% else %}{{ path('catalogue') }} {% endif %}"><input type="button" value="{% trans %}Retour{% endtrans %}"></a>
    <a href="{{ path('article_edit', { 'id': article.id }) }}"><input type="button" value="{% trans %}Edition{% endtrans %}"></a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
