{% extends "VitrineBundle::layout.html.twig" %}

{% block body %}


    <h1>Clients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.mail }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_new') }}">Create a new client</a>
        </li>
    </ul>


{% endblock %}
