{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}{% trans %}Nouvel utilisateur{% endtrans %}{% endblock %}



{% block body %}

    <h1>{% trans %}Votre nouveau compte{% endtrans %}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    <a href="{% if is_granted('ROLE_ADMIN') %}{{ path('client_index') }} {% else %}{{ path('catalogue') }} {% endif %}"><input type="button" value="{% trans %}Retour{% endtrans %}"></a>

    {{ form_end(form) }}

</form>

{% endblock %}
