{% extends "VitrineBundle::layout.html.twig" %}
{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ client.mail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{% if is_granted('ROLE_ADMIN') %}{{ path('client_index') }} {% else %}{{ path('catalogue') }} {% endif %}"><input type="button" value="{% trans %}Retour{% endtrans %}"></a>
    <a href="{{ path('client_edit', { 'id': client.id }) }}"><input type="button" value="{% trans %}Edition{% endtrans %}"></a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
