{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}{% trans %}Panier{% endtrans %}{% endblock %}

{% block catalogue %}


    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{% trans %}Articles dans le panier{% endtrans %}</h2>
            </div>
        </div>
        <div class="row">

            <table class="table table-striped table-bordered">
                <tr>
                    <th>{% trans %}Libellé{% endtrans %}</th>
                    <th>{% trans %}Prix{% endtrans %}</th>
                    <th>{% trans %}Stock{% endtrans %}</th>
                    <th>{% trans %}Quantité{% endtrans %}</th>
                </tr>

                {% for a in panier %}
                    <tr>
                        <td>{{ a.article.getLibelle() }}</td>
                        <td>{{ a.article.getPrix() }}</td>
                        <td>{{ a.article.getStock() }}</td>
                        <td>
                            {{ a.quantite }}
                        </td>
                        <td><a href="{{path('supprimerArticle', { 'id': a.article.getId() })}}" class="btn btn-info btn-lg" ><img src="{{asset('bundles/vitrine/img/suppr.png')}}" alt="supprimer" width="20px" height="20px"/> Supprimer</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total: </td>
                    <td>{{ montant}}€</td>
                </tr>
            </table>
            <div class="container text-center">
                <a href="{{path('_viderPanier')}}"><input type="submit" value="Vider Panier" class="btn btn-info btn-lg" > </a>
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{path('_validerPanier')}}"><input type="submit" class="btn btn-info btn-lg" > </a>
                    {% else %}
                    <p>{% trans %}Pour valider le panier veuillez vous connecter{% endtrans %}</p>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}