{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}{% trans %}Commande{% endtrans %}{% endblock %}

{% block catalogue %}


    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{% trans %}Commande{% endtrans %} N°:{{commande.id}} {% trans %}a été enregistrée{% endtrans %}</h2>
                <p>{% trans %}Un message vous a été envoyé sur votre boite mail{% endtrans %}</p>
            </div>
        </div>


    </div>

{% endblock %}