

<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{% trans %}Panier{% endtrans %}</h2>
        </div>
    </div>
    <div class="row">

        <table class="table table-striped table-bordered">
            <tr>
                <th>{% trans %}Libellé{% endtrans %}</th>
                <th>{% trans %}Prix{% endtrans %}</th>
                <th>{% trans %}Quantité{% endtrans %}</th>
            </tr>

            {% for a in panier %}
                <tr>
                    <td>{{ a.article.getLibelle() }}</td>
                    <td>{{ a.article.getPrix() }}</td>
                    <td>
                        <input type="number" name="howmuch" value="{{ a.quantite }}" min="1" max="{{  a.article.getStock() }}">
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

</div>
