{% extends "VitrineBundle::layout.html.twig" %}

{% block body %}
    <h1>Commande edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    <a href="{{ path('commande_index') }}"><input type="button" value="{% trans %}Retour{% endtrans %}"></a>
        {{ form_start(delete_form) }}
    <input type="submit" value="Delete">

    {{ form_end(edit_form) }}



{% endblock %}
