{% extends "VitrineBundle::layout.html.twig" %}
{% block content %}Nouvelle Commande{% endblock %}

{% block body %}
    <h1>Commande creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    <a href="{{ path('commande_index') }}"><input type="button" value="{% trans %}Retour{% endtrans %}"></a>
        {{ form_end(form) }}

{% endblock %}
