{% extends "VitrineBundle::layout.html.twig" %}

{% block body %}
    <h1>Commande</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Date_com</th>
                <td>{% if commande.datecom %}{{ commande.datecom|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{% if commande.etat %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% if is_granted('ROLE_ADMIN') %}{{ path('commande_index') }} {% else %}{{ path('client_commandes', { 'id': app.user.id }) }} {% endif %}"><input type="button" value="{% trans %}Retour{% endtrans %}"></a>
    <a href="{{ path('commande_edit', { 'id': commande.id }) }}"><input type="button" value="{% trans %}Edition{% endtrans %}"></a>


    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
    <h1>Contenu de la commande</h1>
    <table>
        <tr>
            <th>Article</th>
            <th>Quantité</th>
            <th>Prix</th>
        </tr>
        {% for ligne in lignes %}
            <tr>
                <td>{{ligne.article.getLibelle()}}</td>
                <td>{{ligne.quantite}}</td>
                <td>{{ligne.prix}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
